* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 70px;
  position: static;
  z-index: 1;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 20px;
  font-size: 50px;
  line-height: 70px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  color: #777777;
}

nav #menu {
  float: left;
  left: 15%;
  position: relative;
}

nav #menu li {
  display: inline-block;
  padding: 0px 30px;
  cursor: pointer;
  line-height: 70px;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav #menu li a {
  color: #fff;
}

nav #menu li: hover {
  background: #333;
}

#toggle {
  position: absolute;
  right: 20px;
  top: 14px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  height: 7px;
  background: #333;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
}

#toggle.on #one {
  -moz-transform: rotate(45deg) translateX(6px) translateY(6px);
  -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
  -o-transform: rotate(45deg) translateX(6px) translateY(6px);
  -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  -moz-transform: rotate(-45deg) translateX(10px) translateY(-12px);
  -webkit-transform: rotate(-45deg) translateX(10px) translateY(-12px);
  -o-transform: rotate(-45deg) translateX(10px) translateY(-12px);
  -ms-transform: rotate(-45deg) translateX(10px) translateY(-12px);
  transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

#resize {
  z-index: 1;
  position: absolute;
  top: 0px;
  background: #ddd;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: table;
}

#resize #menu {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 20px 0;
  text-align: center;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#resize #menu li:hover {
  background: #212121;
}

#resize #menu li:hover a {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#resize #menu li a {
  color: #212121;
}

#resize.active {
  visibility: visible;
  opacity: 0.99;
}

@media (max-width:768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
  }
  nav #menu {
    display: none;
  }
}

@media (min-width:768px) {
  #resize {
    visibility: hidden !important;
  }
}