.content-slider {
  width: 100%;
  height: 500px;
}

.slider {
  height: 320px;
  width: 400px;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 250px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 400px;
  height: 320px;
  position: absolute;
  top: -100px;
  list-style: none;
}

.slider .quote {
  font-size: 1.5em;
}

.slider .source {
  font-size: 1.5em;
  text-align: right;
}

.slider li.anim1 {
  -moz-animation: cycle 10s linear infinite;
  -webkit-animation: cycle 10s linear infinite;
  animation: cycle 10s linear infinite;
}

.slider li.anim2 {
  -moz-animation: cycle2 10s linear infinite;
  -webkit-animation: cycle2 10s linear infinite;
  animation: cycle2 10s linear infinite;
}

.slider li.anim3 {
  -moz-animation: cycle3 10s linear infinite;
  -webkit-animation: cycle3 10s linear infinite;
  animation: cycle3 10s linear infinite;
}

.slider li.anim4 {
  -moz-animation: cycle4 10s linear infinite;
  -webkit-animation: cycle4 10s linear infinite;
  animation: cycle4 10s linear infinite;
}

.slider li.anim5 {
  -moz-animation: cycle5 10s linear infinite;
  -webkit-animation: cycle10s linear infinite;
  animation: cycle5 10s linear infinite;
}


@-moz-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: 100px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-moz-keyframes cycle2 {
  0% {
    top: -100px;
    opacity: 0;
  }
  16% {
    top: -100px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle3 {
  0% {
    top: -100px;
    opacity: 0;
  }
  36% {
    top: -100px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle4 {
  0% {
    top: -100px;
    opacity: 0;
  }
  56% {
    top: -100px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle5 {
  0% {
    top: -100px;
    opacity: 0;
  }
  76% {
    top: -100px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -100px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes cycle2 {
  0% {
    top: -100px;
    opacity: 0;
  }
  16% {
    top: -100px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle3 {
  0% {
    top: -100px;
    opacity: 0;
  }
  36% {
    top: -100px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle4 {
  0% {
    top: -100px;
    opacity: 0;
  }
  56% {
    top: -100px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle5 {
  0% {
    top: -100px;
    opacity: 0;
  }
  76% {
    top: -100px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
}
