body{
	margin: 0;
	font-family: "Graphik","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#edebe4;
	font-size: 1.1em;
	text-align:center;
  	background: url("reversed-01.png");
  	background-size: 120% auto;
}

h1, h2, h3 {
	margin:0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

/*basic stuff*/


.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
	width:80px;
	height:80px;
	color:white;
}

.content-wrap{
	display:grid;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-top:5%;
	margin-left:15%;
	margin-bottom:10%;
	margin-right:5%;
}

.content-wrap3 h4{
  color:white;
  font-size: 1.3em;
}

.content-wrap3{
  margin-left:4%;
  margin-right:4%;
	
}

.content-slider{
	display:grid;
	grid-column-start:2;
	grid-column-end:3;
	align-content: center;
	width:600px;
	height:auto;
	margin-bottom: 10%;
}

.pizda{
	width: 200px;
	height:auto;
	position:center;
}

.content-slider h2{
	width:600px;
	height:auto;
}

.mask{
	margin-left:10%;
}

.container {
  	margin-top:5%;
	display:grid;
	grid-template-columns: 1fr;
}

#section-a{
	grid-column-start:1;
	grid-column-end:3;
}

#main{
	grid-column-start: 1;
	grid-column-end: 3;

}

#main-footer{
	grid-column-start: 1;
	grid-column-end: 3;
	text-decoration-color: white;
	text-decoration:none;
}

.animated:nth-child(0) {animation-delay: 0.0s;}
.animated:nth-child(1) {animation-delay: 0.2s;}
.animated:nth-child(2) {animation-delay: 0.4s;}
.animated:nth-child(3) {animation-delay: 0.6s;}
.animated:nth-child(4) {animation-delay: 0.8s;}
.animated:nth-child(5) {animation-delay: 1s;}

.context-text p{
	animation-name: fadeIn;
	animation-duration:3s;
	animation-name: fadeOut;
}

.links a{
	text-decoration: none;
	padding: 5px;
	color:#edede4;
}

.links a:hover{
	color:white;
	text-decoration:none;
}

.fa{ 
	padding:10px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin:10px 2px;
	color:#3E474F;
}

.fa:hover {
	color: #666;
	text-decoration: none;
}

.grid1{
	display:grid;
	grid-template-columns: 80px auto;
	justify-content:stretch;
	color: #edebe4;
}

@media (min-width: 700px) {
	
	.content-wrap2{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		}

  	#section-b h2{
    		text-decoration-color:white;
    		text-decoration: none
 	}

	.content-wrap3{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 0.9em;
	}
}

@media screen and (max-width: 700px) {


  	.content-wrap3{
   		 display:none;
 	 }
	
	.logo{
		font-size: 2em;
		position: center;
	}

  	.mask{
    		display:none;
  	}    

 	 .content-slider{
    		display:none;
	  }

  	.content-wrap{
    		object-position: center;
  	}

	.anim1{
		display:none;
	}

	.anim2{
		display:none;
	}

	.anim3{
		display:none;
	}

	.anim4{
		display:none;
	}

	.anim5{
		display:none;
	}

	.anim6{
		display:none;
	}

	.anim7{
		display:none;
	}


}

#animation{
    width: 600px;
    height: 100px;
    font-size:1.3em;
    text-decoration: none;
}

.one, .two, .tree, .four{
    position: absolute;
    width: 600px;
    height: 100px;
    display: block;
    text-decoration:none;
    text-align: center;
}

.one{
    opacity: 0;
    -webkit-animation: one 10s infinite linear;
    /*-webkit-transition: all .2s ease-in-out;*/
    -webkit-transform: scale(0.9,0.9);
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .02s;
}

.two{
    opacity: 0;
    -webkit-animation: two 10s infinite linear;
    -webkit-transform: scale(0.5,0.5);
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .02s;
}

.tree{
    opacity: 0;
    -webkit-animation: tree 10s infinite linear;
    -webkit-transform: scale(0.5,0.5);
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .02s;
}

.four{
    opacity: 0;
    -webkit-animation: four 10s infinite linear;
    -webkit-transform: scale(0.5,0.5);
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .02s;
}

@-webkit-keyframes one {
    0% { opacity: 1; 
    }
    5%{
        -webkit-transform: scale(1.1,1.1); 
    }
    10%{
        -webkit-transform: scale(1.1,1.1); 
        opacity: 1; 
    }
    15%{
        -webkit-transform: scale(1.1,1.1);
        opacity: 1; 
    }
    20% { 
        -webkit-transform: scale(0.5,0.5);
        opacity: 0; 
    }


    25% { opacity: 0; }
    30% { opacity: 0; }
    35% { opacity: 0; }
    40% { opacity: 0; }
    45% { opacity: 0; }
    50% { opacity: 0; }
    55% { opacity: 0; }
    60% { opacity: 0; }
    65% { opacity: 0; }
    70% { opacity: 0; }
    75% { opacity: 0; }
    80% { opacity: 0; }
    85% { opacity: 0; }
    90% { opacity: 0; }
    95% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes two {
    0% { opacity: 0; }
    5% { opacity: 0; }
    10% { opacity: 0; }
    15% { opacity: 0; }
    20% { opacity: 0; }

    25% { opacity: 1; }
    30% { 
         -webkit-transform: scale(1.2,1.2);
        opacity: 1; }
    35% { 
         -webkit-transform: scale(1.2,1.2);
        opacity: 1; }
    40% { 
         -webkit-transform: scale(1.2,1.2);
        opacity: 1; }
    45% {
        -webkit-transform: scale(0.5,0.5); 
        opacity: 0; }


    50% { opacity: 0; }
    55% { opacity: 0; }
    60% { opacity: 0; }
    65% { opacity: 0; }
    70% { opacity: 0; }
    75% { opacity: 0; }
    80% { opacity: 0; }
    85% { opacity: 0; }
    90% { opacity: 0; }
    95% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes tree {
    0% { opacity: 0; }
    5% { opacity: 0; }
    10% { opacity: 0; }
    15% { opacity: 0; }
    20% { opacity: 0; }
    25% { opacity: 0; }
    30% { opacity: 0; }
    35% { opacity: 0; }    
    40% { opacity: 0; }
    45% { opacity: 0; }


    50% { opacity: 1; }
    55% { 
         -webkit-transform: scale(1.2,1.2);
        opacity: 1; }
    60% { 
         -webkit-transform: scale(1.2,1.2);
        opacity: 1; }
    65% { 
         -webkit-transform: scale(1.2,1.2)
        opacity: 1; }
    70% { 
        -webkit-transform: scale(0.5,0.5);
        opacity: 0; }

    75% { opacity: 0; }
    80% { opacity: 0; }
    85% { opacity: 0; }
    90% { opacity: 0; }
    95% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes four {
    0% { opacity: 0; }
    5% { opacity: 0; }
    10% { opacity: 0; }
    15% { opacity: 0; }
    20% { opacity: 0; }
    25% { opacity: 0; }
    30% { opacity: 0; }
    35% { opacity: 0; }
    40% { opacity: 0; }
    45% { opacity: 0; }
    50% { opacity: 0; }
    55% { opacity: 0; }    
    60% { opacity: 0; }
    65% { opacity: 0; }
    70% { opacity: 0; }

    75% { opacity: 1; }
    80% { 
         -webkit-transform: scale(1.2,1.2);
        opacity: 1; }
    85% { 
         -webkit-transform: scale(1.2,1.2);
        opacity: 1; }
    90% { 
         -webkit-transform: scale(1.2,1.2);
        opacity: 1; }
    95% { 
        -webkit-transform: scale(0.8,0.8);
        opacity: 0.5; }
    100% { 
        -webkit-transform: scale(0.5,0.5);
        opacity: 0; }
}
