body{
    margin: 0;
    color:white;
    font-family: nunito, sans-serif;
        color:#edebe4;
    font-size: 1.1em;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB) ;
    background-size: 1000% 1000%;
  }}


h1, h2, h3 {
	margin:0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

/*basic stuff*/


    .container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom:5%;
    }

    #brand{
        display:grid;
        grid-column-start:1;
        grid-column-end:2;
        margin-left:5%;
        margin-top:5%;
    }


    #menu{
        margin-top:3%;
        align-items: right;
        font-size:1.4em;
    }


    #section-a{
        grid-column-start:1;
        grid-column-end:3;
    }

    .content-wrap{
	   display:grid;
	   grid-column-start: 1;
	   grid-column-end: 2;
    }

    .mockup img{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:50%;
    }

    .landing-content{
        display:grid;
        grid-column-start:2;
        grid-column-end:3;
        font-size:2em;
        color:white;
        margin-top: 5%;
        margin-left: 5%;
        text-align: left;
    }

    .btn1{
        display:grid;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top:2%;
        margin-bottom:2%;
    }

    #main{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content-wrap3 h4{
        color:white;
        font-size: 1.5em;
    }

    .content-wrap3{
        margin-left:4%;
        margin-right:4%;
    }

    .grid1{
        display:grid;
        grid-template-columns: 80px auto;
        justify-content:stretch;
        color: #edebe4;
        margin-right:4%;
    }

    .img1 {
        width:70px;
        height:80px;
        align-self:center;
    }

    .img2, .img3, .img4, .img5, .img6, .img7, .img8{
        width:80px;
        height:80px;
        align-self:center;
    }

    .gridb{
        display:grid;
        grid-template-columns:1fr;
        margin-left:7%;
        margin-right:7%;
        margin-top:3%;
        margin-bottom: 3%;
    }

   #main-footer{
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	color: grey;
}

.links a{
	text-decoration:none;
	color:grey;
	padding: 5px;
}

.links a:hover{
	color:white;
	text-decoration:none;
}
@media (min-width: 700px) {
	#brand{
        justify-content: left;
    }
    .grid{
        display:grid;
        grid-template-columns:1fr;
        margin-left:15%;
        margin-right:7%;
        margin-top:5%;
    }

	.content-wrap2{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:7%;
        margin-top:3%;
        margin-bottom: 5%;
        text-align: center;
	}

    #section-b h2{
        text-decoration-color:white;
        text-decoration: none
    }

	.content-wrap3{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 0.9em;
        padding:3%;
        grid-row-gap:5%;
        grid-column-gap:5%;
	}

    .text1{
        display:none;
    }

    .text2{
        display:none;
    }
}

@media (max-width: 700px) {

    h2{
        font-size:1.6em;
    }

    #brand{
        justify-content: center;

    }
    #main h4{
        font-size:1.2em;
    }

    .container{
        display:grid;
        grid-template-columns: 1fr;
        object-position: center;
    }
    

    .grid{
        display:grid;
        grid-template-columns:1fr;
        margin-left:7%;
        margin-right:7%;
        margin-top:5%;
    }

	.content-wrap{
        display:grid;
        grid-template-columns: 1fr;
    }
    .text1{
        display:grid;
        grid-column-start:1;
        grid-column-end:2;
        font-size:1.4em;
        color:white;
        margin-top: 5%;
        text-align: center;
    }

    .landing-content{
        display:none;

    }

    .mockup{
        display:grid;
        object-position: center;
        grid-column-start:1;
        grid-column-end:2;
    }

    .text2{
        display:grid;
        grid-column-start:1;
        grid-column-end:2;
        font-size:1.4em;
        color:white;
        margin-top: 5%;
        margin-bottom:10%;
        text-align: center;
    }

    .content-wrap3{
        display:grid;
        grid-template-columns:1fr;
        object-position:center;
    }

    .grid1{
        display:grid;
        margin: 5%;
    }

    .btn1{ 
        margin-top: 5px;
        object-position: center; 
    }

    .content-wrap2{
        display:grid;
        grid-template-columns: 1fr;
        grid-column-gap:7%;
        margin-top:3%;
        margin-bottom: 5%;
        text-align: center;
    }
}

