body{
	margin: 0;
	color:white;
	font-family: nunito, sans-serif;
	font-size: 1.1em;
	height: 100%;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
    	background-repeat:no-repeat;
    	background : -moz-linear-gradient(50% 99.51% 90deg,rgba(46, 194, 150, 1) 0%,rgba(49, 188, 157, 1) 45.5%,rgba(31, 162, 182, 1) 71.04%,rgba(14, 137, 206, 1) 100%) fixed;
	background : -webkit-linear-gradient(90deg, rgba(46, 194, 150, 1) 0%, rgba(49, 188, 157, 1) 45.5%, rgba(31, 162, 182, 1) 71.04%, rgba(14, 137, 206, 1) 100%) fixed;
	background : -webkit-gradient(linear,50% 99.51% ,50% 0.43% ,color-stop(0,rgba(46, 194, 150, 1) ),color-stop(0.455,rgba(49, 188, 157, 1) ),color-stop(0.7104,rgba(31, 162, 182, 1) ),color-stop(1,rgba(14, 137, 206, 1) )) fixed;
	background : -o-linear-gradient(90deg, rgba(46, 194, 150, 1) 0%, rgba(49, 188, 157, 1) 45.5%, rgba(31, 162, 182, 1) 71.04%, rgba(14, 137, 206, 1) 100%) fixed;
	background : -ms-linear-gradient(90deg, rgba(46, 194, 150, 1) 0%, rgba(49, 188, 157, 1) 45.5%, rgba(31, 162, 182, 1) 71.04%, rgba(14, 137, 206, 1) 100%) fixed;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2EC296', endColorstr='#0E89CE' ,GradientType=0)";
	background : linear-gradient(0deg, rgba(46, 194, 150, 1) 0%, rgba(49, 188, 157, 1) 45.5%, rgba(31, 162, 182, 1) 71.04%, rgba(14, 137, 206, 1) 100%) fixed;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0E89CE',endColorstr='#2EC296' , GradientType=0);
}

h1, h2, h3 {
	margin:0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

/*basic stuff*/

.container {
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom:5%;
}

#brand{
	display:grid;
	grid-column-start:1;
	grid-column-end:2;
	margin-left:5%;
	margin-top:5%;
}

#menu{
	margin-top:7%;
	align-items: right;
	font-size:1.4em;
}
#menu a: hover{
	color:gray;
	text-decoration:none;
}
	
.Enni-content{
	display:grid;
	grid-template-columns: 30% auto;
	grid-column-start: 1;
	grid-column-end:3;
	margin-top: 0%;
	margin-left:10%;
	margin-right:10%;
}

.Enni-content-about{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-start:1;
	grid-column-end:3;
	margin-top:5%;
	margin-left:10%;
	margin-right:10%;
	font-size:1.4em;
	grid-column-gap:6%;
}

.content1{
	display:grid;
	grid-column-start:1;
	grid-column-end:2;
	align-content:center;
	font-size:1.2em;
	margin-right:5%;
}

.content2{
	display:grid;
	grid-column-start:2;
	grid-column-end:3;
	align-content:center;
	font-size:1em;
}

.content3{
	display:grid;
	grid-column-start:1;
	grid-column-end:2;
	align-content:center;
	font-size:1.2em;
	margin-right:5%;
}

.content4{
	display:grid;
	grid-column-start:2;
	grid-column-end:3;
	align-content:center;
	font-size:1em;
}

.content5{
	display:grid;
	grid-column-start:1;
	grid-column-end:2;
	align-content:center;
	font-size:1.2em;
	margin-right:5%;
}

.content6{
	display:grid;
	grid-column-start:2;
	grid-column-end:3;
	align-content:center;
	font-size:1em;
	margin-top:5%;
}

.ourstory{
	display:grid;
	grid-column-start:1;
	grid-column-end:3;
	font-size:1.4em;
	margin-right:10%;
	margin-left:10%;
}

.Founders{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-start:1;
	padding: 10px;
	margin-top: 1%;
	margin-left:10%;
	margin-right:10%;
}

.Devs{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-start:;
	margin-top:5%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:10%;
}

.faq{
	display:grid;
	margin-top:10%;
	margin-left: 15%;
	margin-right:15%;
	justify-content: stretch;
}

.q1 {
	display:grid;
	margin-top:5%;
	margin-left: 15%;
	margin-right:15%;
	justify-content: stretch;
}

.q2 {
	display:grid;
	margin-top:5%;
	margin-left: 15%;
	margin-right:15%;
	justify-content: stretch;
}

.q3{
	display:grid;
	margin-top:5%;
	margin-left: 15%;
	margin-right:15%;
	justify-content: stretch;

}

#main-footer{
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	color: grey;
}

.links a{
	text-decoration:none;
	color:grey;
	padding: 5px;
}

.links a:hover{
	color:white;
	text-decoration:none;
}

@media (max-width: 700px) {
	#brand{
        justify-content: center;
    }

    .Enni-content{
    	display:grid;
    	grid-template-columns:1fr;
    	justify-content: center;
    	grid-row-gap: 2%;

    }

    .Enni-content-about{
    	display:grid;
    	grid-template-columns:1fr;
    	justify-content:center;
    }

    .container{
        display:grid;
        grid-template-columns: 1fr;
        object-position: center;
    }

    .content1a{
    	text-align:center;
    }

    .content2a{
    	text-align:center;
    }

    .content1{
    	text-align:center;
    }

    .content2{
    	text-align:center;
    }

    .content3{
    	text-align:center;
    }

    .content4{
    	text-align:center;
    }

    .content5{
    	text-align:center;
    }

    .content6{
    	text-align: center; 
    }

@media (max-width: 1027px) {
	
	#brand{
        justify-content: center;
    }
	
    .container{
        display:grid;
        grid-template-columns: 1fr;
        object-position: center;
    }
    
	.Enni-content{
		display:grid;
		grid-template-columns: 1fr;
		justify-content: center;
	}

	.Enni-content-about{
		display:grid;
		grid-template-columns: 1fr;
		justify-content: center;
	}

	.content1{
		display:grid;
		grid-column-start:1;
		grid-column-end:2;
		align-content:center;
	}

	.content2{
		display:grid;
		grid-column-start:1;
		grid-column-end:2;
		align-content:center;
	}
  	
  	.content3{
  		display:grid;
		grid-column-start:1;
		grid-column-end:2;
		align-content:center;
  	}

  	.content4{
  		display:grid;
		grid-column-start:1;
		grid-column-end:2;
		align-content:center;
  	}

  	.content5{
  		display:grid;
		grid-column-start:1;
		grid-column-end:2;
		align-content:center;
  	}

  	.content6{
  		display:grid;
		grid-column-start:1;
		grid-column-end:2;
		align-content:center;
  	}

	.Founders{
		display:grid;
		grid-template-columns:1fr;
	}

	.Devs{
		display:grid;
		grid-template-columns:1fr;
	}
}
