body{
	margin: 0;
	color:white;
	font-family: Helvetica, myriad, sans-serif;
	color:#edebe4;
	font-size: 1.1em;
	background: url("reversed-01.png");
}

h1, h2, h3 {
	margin:0;
	padding: 1em 0;
	font-size:1.5em;
}

p {
	margin: 0;
	padding: 1em 0;
}

/*basic stuff*/



.container {
	display:grid;
	grid-template-columns: 1fr 1fr;
}

#brand{
	display:grid;
	grid-column-start:1;
	grid-column-end:2;
	margin-left:5%;
	margin-top:5%;
}

 #brand a {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


 #brand a:hover {
  color: #777777;
}


.Enni-content{
	display:grid;
	grid-column-start: 1;
	grid-column-end:3;
	margin-top: 0%;
	margin-left:15%;
	margin-right:15%;
}

.content1{
	display:grid;
	grid-column-start:1;
	grid-column-end:2;
	align-content:center;
	font-size:1.1em;
	margin-right:5%;
}

.content2{
	display:grid;
	grid-column-start:2;
	grid-column-end:3;
	align-content:center;
	font-size:1.1em;
	margin-left:5%;
}

.content3{
	display:grid;
	grid-column-start:1;
	grid-column-end:3;
	font-size:1.1em;
}

.Founders{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-start:1;
	margin-top: 1%;
	margin-left:15%;
	margin-right:15%;
}

.Devs{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-start:;
	margin-top:5%;
	margin-left:15%;
	margin-right:15%;
}

.faq{
	display:grid;
	margin-top:10%;
	margin-left: 15%;
	margin-right:15%;
	justify-content: stretch;
}

.q1 {
	display:grid;
	margin-top:5%;
	margin-left: 15%;
	margin-right:15%;
	justify-content: stretch;
}

.q2 {
	display:grid;
	margin-top:5%;
	margin-left: 15%;
	margin-right:15%;
	justify-content: stretch;
}

.q3{
	display:grid;
	margin-top:5%;
	margin-left: 15%;
	margin-right:15%;
	justify-content: stretch;

}

#main-footer{
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	color: white;
}

.links a{
	text-decoration:none;
	color:white;

}

@media screen and (max-width: 1027px) {
	
	.container #brand{
		grid-template-columns:1fr;
		align-content:center;
		grid-column-start:1;
		grid-column-end:2;
	}

	.container #toggle{
		grid-template-columns: 1fr;
		grid-column-start:1;
		grid-column-end:2;
		align-content:center;
	}

	.Enni-content{
		display:grid;
		grid-template-columns: 1fr;
	}

	.content1{
		display:grid;
		grid-column-start:1;
		grid-column-end:2;
		align-content:center;
	}

	.content2{
		display:grid;
		grid-column-start:1;
		grid-column-end:2;
		align-content:center;
	}
  	
	.Founders{
		display:grid;
		grid-template-columns:1fr;
	}

	.Devs{
		display:grid;
		grid-template-columns:1fr;
	}
}

